@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700");

:root {
    font-family: "Montserrat", sans-serif !important;
}

i {
    font-family: inherit;
}

html {
    background: linear-gradient(to right, #00b09b, #96c93d);
    min-height: 100vh;
    background-repeat: no-repeat;
}

body {
    background-color: rgba(255, 255, 255, 0);
}

a {
    color: white;
}

a:hover {
    color: black;
}

.bg-light {
    background-color: rgb(193, 255, 224) !important;
    backdrop-filter: blur(2rem);
    border-bottom: #000000 solid 2px;
}

hr {
    background: linear-gradient(45deg,
            #ca485c,
            #e16b5c,

        );
    border-style: none none dotted;
    border-color: black;
    border-width: 7px;
    width: 5%;
}

.img-shadow {
    border-radius: 20%;
    box-shadow: 0 0 10px 10px rgb(96, 172, 56);
}

.user-inputs,
.map-widget {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-shadow: 4px 4px 15px black;
    width: 50%;
    padding: 0.5rem;
}

.main-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#gmap-icon {
    height: 5rem;
    width: 5rem;
    margin: 1rem 1rem;
}

.gmaps {
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#coordsX,
#coordsY {
    border-radius: 20rem;
    padding: .5rem;
    margin: 0.5rem;
    border: none;
    text-align: center;
    color: black;
    font-size: 20px;
    border-style: solid;
    box-shadow: 5px 5px 5px rgb(113, 226, 26);
    padding-bottom: 1rem;
}

#map {
    width: 100%;
    height: 25rem;
    background-color: transparent;
    box-shadow: 6px 6px 20px black;
    padding-bottom: 1rem;
    border-radius: 1rem;
}

.btn {
    border: none;
    border-radius: 2rem;
    padding: 1rem 2rem;
    box-shadow: 6px 6px 30px black;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

h2 {
    color: white;
    padding-bottom: 10px;
    font-size: 30px;
}

/* end alert (modal) style */

@media screen and (min-width: 960px) {
    .main-cont {
        flex-direction: row;
        height: 100vh;
    }

    .map-widget {
        padding-right: 2rem;
        margin-right: 2rem;
    }
}

.footer-basic {
    padding: 40px 0;
    color: #4b4c4d;
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
    color: #ccc;
}

.footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social>a:hover {
    opacity: 0.9;
}